<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="column" style="background-color:#aaa;" >
        <h2>TO DO</h2>

        <div class="columnCount">
            {{toDoCount}}
        </div>

        <div class="apps-container" ui-sortable="sortableOptions"  id="sortable" ui-sortable-update="updateOrder"  ng-model="todo">
            <div  ng-repeat="info in todo| filter:searchCriteria">
                <div class="task" ng-click="editTask($event ,info)" >

                    <div class="cross">
                        <img ng-src="images/cross.png" ng-click="showConfirm($event, info); $event.stopPropagation()"/>
                    </div>

                    <div class="message-container">
                        {{info.message}}
                    </div>
                </div>
            </div>
        </div>
        <md-button class="new-task-text" ng-click="showPrompt($event, 'todo')"   >
            Add new task...
        </md-button>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>DOING</h2>
        <div class="columnCount">
            {{doingCount}}
        </div>

        <div  class="apps-container" ui-sortable="sortableOptions" ng-model="doing">
            <div ng-repeat="info in doing | filter:searchCriteria">
                <div class="task"  ng-click="editTask($event ,info)">
                    <div class="cross">
                        <img ng-src="images/cross.png" ng-click="showConfirm($event, info); $event.stopPropagation()"/>
                    </div>

                    <div class="message-container">
                        {{info.message}}
                    </div>
                </div>
            </div>
        </div>
        <md-button class="new-task-text" ng-click="showPrompt($event, 'doing')"   >
            Add new task...
        </md-button>
    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>DONE</h2>
        <div class="columnCount">
            {{completedCount}}
        </div>
        <div class="apps-container" ui-sortable="sortableOptions" ng-model="done">
            <div ng-repeat="info in done | filter:searchCriteria">
                <div class="task" ng-click="editTask($event ,info)">

                    <div class="cross">
                        <img ng-src="images/cross.png" ng-click="showConfirm($event, info); $event.stopPropagation()"/>
                    </div>

                    <div class="message-container">
                        {{info.message}}
                    </div>
                </div>
            </div>
        </div>
        <md-button class="new-task-text" ng-click="showPrompt($event, 'done')"   >
            Add new task...
        </md-button>
    </div>
</div>



</body>
</html>