<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <div class="column" style="background-color:#aaa;" >
        <h2>TO DO</h2>

        <div class="columnCount">
            {{toDoCount}}
        </div>

        <div ng-repeat="info in taskInfo | filter:searchCriteria" data-drop="true">
            <div data-drag="{{info.drag}}"  data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}" class="task btn-draggable" ng-if="info.status == 'todo'" ng-click="editTask($event ,info)">

                <div class="cross">
                    <img ng-src="images/cross.png" ng-click="showConfirm($event, info); $event.stopPropagation()"/>
                </div>

                <div class="right">
                    <img ng-src="images/right.png" ng-click="moveRight(info); $event.stopPropagation()"/>
                </div>

                <div class="message-container">
                    {{info.message}}
                </div>
            </div>
        </div>

        <md-button class="new-task-text" ng-click="showPrompt($event, 'todo')"   >
            Add new task...
        </md-button>
    </div>
    <div class="column" style="background-color:#bbb;">
        <h2>DOING</h2>
        <div class="columnCount">
            {{doingCount}}

        </div>
        <div ng-repeat="info in taskInfo | filter:searchCriteria">
            <div class="task" ng-if="info.status == 'doing'" ng-click="editTask($event ,info)">
                <div class="cross">
                    <img ng-src="images/cross.png" ng-click="showConfirm($event, info); $event.stopPropagation()"/>
                </div>

                <div class="right">
                    <img ng-src="images/right.png" ng-click="moveRight(info); $event.stopPropagation()"/>
                </div>

                <div class="left">
                    <img ng-src="images/left.png" ng-click="moveLeft(info); $event.stopPropagation()"/>
                </div>

                <div class="message-container">
                    {{info.message}}
                </div>
            </div>
        </div>

        <md-button class="new-task-text" ng-click="showPrompt($event, 'doing')"   >
            Add new task...
        </md-button>
    </div>
    <div class="column" style="background-color:#ccc;">
        <h2>DONE</h2>
        <div class="columnCount">
            {{completedCount}}
        </div>
        <div ng-repeat="info in taskInfo | filter:searchCriteria">
            <div class="task" ng-if="info.status == 'done'" ng-click="editTask($event ,info)">

                <div class="cross">
                    <img ng-src="images/cross.png" ng-click="showConfirm($event, info); $event.stopPropagation()"/>
                </div>

                <div class="left">
                    <img ng-src="images/left.png" ng-click="moveLeft(info); $event.stopPropagation()"/>
                </div>

                <div class="message-container">
                    {{info.message}}
                </div>
            </div>
        </div>
        <md-button class="new-task-text" ng-click="showPrompt($event, 'done')"   >
            Add new task...
        </md-button>
    </div>
</div>



</body>
</html>