* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    bottom: 0%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.task{
    position:relative;
    display: inline-block;
    border-radius: 15px;
    background: lightcyan;
    padding:20px;
    margin-top:0.5em;
    width: 35em;
    height: 150px;

}

.cross img{
    height:1em;
    width:1em;
    position:absolute;
    top: 0.3em;
    right: 0.3em;
}
