* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height:100%;
    max-height: 800px; /* Should be removed. Only for demonstration */
    bottom: 0;
    overflow: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.task:hover{
    background-color:#F8F8FF;
}

.task{
    margin-top:0.5em;
    position:relative;
    display: inline-block;
    border-radius: 8px;
    background: white;
    width: 100%;
    height: 100px;
    cursor:pointer;
    display: table;
}


.cross img{
    height:1em;
    width:1em;
    position:absolute;
    top: 0.4em;
    right: 0.4em;
    cursor: pointer;
}

.right img{
    opacity:0.2;
    position:absolute;
    cursor:pointer;
    right: 0;
    top:30px;
}

.left img{
    opacity:0.2;
    position:absolute;
    left:0;
    cursor:pointer;
    top:30px;
}

.message-container{
    margin:auto;
    padding:10px;
    height:100%;
    width:80%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5em;
}


section{
    width: 100%;
    height: 100px;
    margin: auto;
}
.new-task {
    width: 50%;
    float:left;
}

#completedCount{
    margin-left:70%;
    margin-top:25px;
}

#completedCount p{
    font-size: 21px;
    font-weight: 200;
}

.columnCount{
    background-color:white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    right:0;
    top:0;
    text-align: center;
}


.new-task-text:hover{
    text-decoration:underline;
}
.new-task-text{
    font-family: "Arial", serif;
    font-style: normal;
    text-transform: lowercase;
    font-size:1em;
}

.form-control{
    max-width:100%;
}

